.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.display {
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 75px;
}

button{
  padding: 5px;
  border-width: 1px;
}
ul{
  list-style-type: none;
}

li{
margin: 5px;
}

/* Form styles */
.message{
  height: 50px;
}
.message p{
  font-size: 30px;
}
.form-header{
}

 .image-preview{
  max-width: 100px;
}
.image-drop-bucket{
  text-align: center;
  margin: 10px;
  width: 300px;
  height: 75px;
  background-color: bisque;
}

.form-input{
  margin: 10px
}
.form-input-label{
 display: block;
}
.form-input-element{
  display: block;
  width:500px
}
.form-input-element.text-area{
  height: 100px;
}

/* contracted list item styles */

.contracted.list-item {
  display:grid;
  grid-template-columns: 20% 60% auto;
  grid-template-rows: auto;
  grid-gap:0px;
}
.contracted.image-container .image-thumbnail{
  max-width: 100px;

}

.contracted.image-container{
  grid-column-start: 1;
  grid-column-end: 2;
 background-color: antiquewhite;
 justify-self: center;
 align-self: stretch;
}

.contracted.info-container{
  grid-column-start: 2;
  grid-column-end:  3;
}

h3{
  margin-bottom: 10px;
}

.contracted.button-container {
  grid-column-start: 3;
  grid-column-end:  4;
  grid-row: 1 span 1;
  align-self: end;
  justify-self: end;
  margin-right:20px;
  
}

/* expanded list item styles */



div#expanded-list-item{
  display:grid;
  grid-template-columns: auto 40% 40% auto;
  grid-template-rows: auto auto auto;
  grid-gap: 0px;
}

div#expanded-list-item div.expanded-map-button-container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end:3;
  justify-self: start;
  align-self: start;

}

div#expanded-list-item div.expanded-image-container div.expanded-map-error{
  background-color: rgb(213, 240, 240);
  opacity: 0.9;
  width: 400px;
  height:100px;
  position: absolute;
  z-index: 100;
}

div#expanded-list-item div.expanded-image-thumbnail-container{
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-end: 2 ;
  grid-row-end: 3;
  justify-self: end;
  align-self: end;
  max-width: 100px;
}
div.expanded-image-thumbnail-container #thumbnail-for-map{
  max-width: 100px;
}
div#expanded-list-item div.expanded-image-container{

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end:  4;
  justify-self: stretch;
  align-self: stretch;

}

.full-image{
max-width: 100%;
height: auto;
}

div#expanded-list-item div.expanded-name-location-container{
  
  grid-row-start: 3 ;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
 
  
}
div#expanded-list-item div.expanded-description-container{
  grid-row-start: 3 ;
  grid-row-end:4;
  grid-column-start: 3 ;
  grid-column-end: 5
}

h3{
  margin-bottom: 10px;
}

div#expanded-list-item div.expanded-button-container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end:  4;
  align-self:end;
  justify-self: end;
  margin-right:20px;
}


