
/* auto auto auto auto auto auto */
.menu .menu-container{
  display: grid;
  grid-template-rows: 35px 35px 35px 35px 35px 35x ;
  grid-gap: 10px;


}
.menu-item{
  background-color: bisque;
  padding: 5px 30px;
  align-self: stretch;
  color: black;
  font-size: 20px;
  text-decoration: none
}

a{
  text-decoration: none;
}


/* changed to fixed height on div, font size changes, not based on padding */

.menu-item:hover{
  background-color: rgb(212, 178, 137);
  padding: 5px 30px;
  align-self: stretch;
  color: black;
  font-size: 20px;
  text-decoration: none

}

.go-back{
  margin-top: 20px;
}
.sub-menu{
 margin: 50px;

 padding: 10px 10px 200px;
 background-color: rgb(213, 240, 240);
}