

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  position: fixed;
  background-color: #845EC2;
  opacity: 0.9;
  z-index:101;
}

.nav-item{
  /* margin: 0px 20px; */
  padding: 15px 15px;
  color:white;
  transition: background-color 1s;
}
.form-nav{
  background-color: white;
  width: 220px;
  border: 1px solid #FF8066;
  color:#4B4453;
}

/* .form-nav.nav-item:hover{
transition: background-color 1s;
background-color :rgb(213, 240, 240);
} */
.nav-item:hover{
  transition: background-color 1s;
  background-color: #4B4453;
  color:white;
}
a{
  text-decoration: none;
}