.nav-list{
  display: flex;
  flex-direction:  row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  text-decoration: none;
  background-color: rgb(213, 240, 240);
  padding: 15px;
}
.menu{
justify-self: left
}
.form{
justify-self: right
}
