.expanded-list-item{
  display:grid;
  grid-template-columns: auto 40% 40% auto;
  grid-template-rows:  300px 100px;
  grid-gap: 10px;
}

.image-container{

  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end:  4;
  justify-self: stretch;
  align-self: stretch;
 background-color: red;
}

.expanded-name-location-container{
  
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end:  3;
  
}
.expanded-description-container{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end:  4;

}

h3{
  margin-bottom: 10px;
}

.expanded-button-container {
  
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end:  5;
  align-self:end;
  padding: 10px;

}